<h1>記事一覧</h1>
<%= link_to "新規記事作成",new_users_article_path %>

<ul>
  <% @articles.each do |article| %>
    <li>
    <%= link_to article.title, users_article_path(id: article.id) %>
    <%= link_to '編集', edit_users_article_path(article.id) %>・
    <%= link_to '削除', users_article_path(article.id),:method => :delete, data:{ confirm:'本当に削除してよろしいですか?'}%>
    </li>
  <% end %>
</ul>
